<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <img src=<%=@user_stone%> style="width: 100%; height=100%">
    
    
    
  </body>
</html>